.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  
    background-color: hsla(235, 30%, 8%, 0.6);
    backdrop-filter: blur(1px);
    border: 0.25px solid hsla(235, 30%, 20%, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    gap: 16px;
  }
  
  .chat-box {
    flex-grow: 1;
    width: 100%;
    min-height: 100px;
    overflow-y: auto;
  }
  
  
  .heading {
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 12px;
    background-clip: text;
    background: hsl(235, 55%, 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 600;
  }
  
  .button {
    background-color: hsl(235, 55%, 45%);
    color: hsl(235, 75%, 85%);
  
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.16s ease-in;
    font-weight: 500;
  }
  
  .button:hover {
    background-color: hsl(235, 50%, 35%);
  }
  
  .button:active {
    transform: scale(0.98);
  }
